<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).NSManualApplication</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>menu-icon.icns</string>
	<key>CFBundleDisplayName</key>
	<string>MorseCodeInput</string>
	<key>CFBundleName</key>
	<string>Morse Code</string>
	<key>BundleIsRelocatable</key>
	<false/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.inputmethod</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MorseCodeInputMethodController</string>
	</dict>
</dict>
</plist>
